/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive+Mono&family=Shadows+Into+Light&display=swap');

/* Estilos para las clases */
.title {
  font-size: 7em;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}


body {
    margin: 0;
    padding: 0;/* Ruta a tu imagen de fondo */
    color: rgb(0, 0, 0); /* Cambia el color del texto según tu diseño */
    background-repeat: no-repeat;
  }




.parrafo {
  font-size: 2.5em;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}
.subtitulo{
    text-align: center;
}
.foot {
  font-size: 2em;
  font-family: 'Cutive Mono', monospace;
}

/* Media queries para diferentes tipos de pantallas */

/* Pantallas más pequeñas, como teléfonos móviles */
@media screen and (max-width: 768px) {
  .title {
    font-size: 3.5em;
  }

  .parrafo {
    font-size: 1em;
    text-align: justify;
  }

  .foot {
    font-size: 1.5em;
  }
}

/* Pantallas medianas, como tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 4em;
    text-align: left;
    
  }

  .parrafo {
    font-size: 2.25em;
    text-align: left;
    text-align: justify;
  }

  .foot {
    font-size: 1.75em;
  }
}

/* Pantallas más grandes, como computadoras de escritorio */
@media screen and (min-width: 1025px) {
  .title {
    font-size: 6em;
    text-align: left;
  }

  .parrafo {
    font-size: 2em;
    text-align: left; 
    text-align: justify;
  }

  .foot {
    font-size: 2em;
    text-align: left;
  }
}


